<footer class="container-fluid mt-3">
    <div class="row">

      <div class="col-md-5">
        <h3>Estamos en redes sociales</h3>
      </div>

      <div class="col-md-7">

        <div class="iconos">          
          
          <a href="https://twitter.com/?lang=es" target="_blank"><i class="fab fa-twitter-square fa-4x mx-1"class="icono"></i></a>
          <a href="https://es-la.facebook.com/" target="_blank"><i class="fab fa-facebook-square fa-4x mx-1"class="icono"></i></a>
          <a href="https://cl.linkedin.com" target="_blank"><i class="fab fa-linkedin fa-4x mx-1" class="icono"></i></a>
        </div>
      </div>
  </footer>
