<div class="col-12 my-5 py-0 container d-none d-md-block">
  <div class="card my-2" style="max-width: 1000px;">
    <div class="row g-0">
      <div class="col-md-5">        
        <img src="/uploads/iguana-3.jpg" class="iguana img-fluid start" alt="Aquí hay una iguana, pero no se ve">
      </div>
      <div class="col-md-7 px-4 pb-4">
        <div class="card-body mt-3">
          <h5 class="card-title">Curiosidades</h5>
          <p class="card-text">Las iguanas  son grandes observadoras y suelen pasar gran parte de su tiempo sin hacer nada, sólo quietas y observando.</p>
          <p class="card-text"><small class="text">2 mar 2018</small></p>
        </div>
      </div>
    </div>
  </div>
</div>


