<div id="textos" class="py-5 container d-none d-md-block">
  <div>
    <h4>Cosas que debes saber de las iguanas.</h4>
  </div>
  <hr class= "opacity-100 w-25 mx-auto">
  <div class="row pt-3">
    <div class="col-4"> 
      <p> Las iguanas son animales de lo más inteligentes y nunca hay que subestimarlos. Dichos túneles pueden llegar a medir 2 metros de profundidad. También hay que tener cuidado en las épocas de celo, ya que si es iguana macho en esta época se suele volver muy territorial y agresiva..</p>       
    </div>
    <div class="col-4">          
      <p> Su piel está recubierta de pequeñas escamas; tienen una cresta dorsal que recorre desde su cabeza hasta su cola, esta es muy vistosa en los machos. Todas las iguanas tienen patas muy cortas y cinco dedos en cada pata, acabados en garras muy afiladas.</p>
    </div>
    <div class="col-4">          
      <p> Estos animales no buscarán interactuar con los humanos que los cuidan, ni nos pedirán mimos, y puede ser que hasta rehuyan nuestro contacto. Debido a que no podemos establecer un código de entendimiento con ellos se pueden considerar animales un tanto imprevisibles que no dudarán en atacar si se sienten amenazados..</p>          
    </div>
  </div>
</div>
