<style>#cabecera { width: 100%;}</style></header>
<div class="col-12 bg-black mt-5">
  <div class="py-5 text-center">
  <h1>Administración</h1>
  <br>
  <h3>Bienvenida!!</h3>
  
  {{!-- <form action="/contacto" method="POST"> --}}
  <div class="row">
    <div class="col-6">      
      {{> card_tutor}}
      <a href="./autorizacion_tutores">Tutores</a>    
    </div> 
    <div class="col-6">      
      {{> card_especialista}}
      <a href="./autorizacion_especialistas">Especialistas</a>    
    </div>   
  </div>  
  
</div>