<select class="form-select mb-3 w-50 m-auto" name="especialidad" aria-label="Default select example" >
          <option selected>Selecciona tu especialidad</option>
          <option value="domestico">Domestico</option>
          <option value="granja">Granja</option>
          <option value="exotico">Exótico</option>
        </select>