<style>#cabecera { width: 100%;}</style></header>
<div class="col-12 bg-black mt-5">
  <div class="py-5 text-center">
  <h1>Contacto</h1>
  <br>

  <form action="/contacto" method="POST">
    <div class="form-group">     
      <div class="form-group pt-3">        
        <textarea class="form-control w-50 m-auto" name="redaccion" placeholder="Correo redactado" rows="20"></textarea>
      </div>
      <div class="form-group col-12 col-sm-12">
      <label>Adjunta una fotografia de su estado</label><br>            
      <input type="file" name="foto_estado" onchange="previewFile()"><br>
      <img src="/" height="200" alt="image preview">
    </div>    
    </div>  
    <button class="btn btn-danger mb-2 py-2 w-50 m-auto">Enviar correo</button>     
  </form>
</div>