<div class="container-fluid">
  <style>#cabecera { width: 100%;}</style>
  
  <div class="row">
    <div class="col-5">
      {{> relleno }} 
      {{> relleno-texto }}       
    </div>

    <div class="completa-tu-perfil col-7 bg-black mt-5 text-center pt-5">
      <h1>Hola {{this.nombre}}!!</h1>
      <h2>Completa tu perfil</h2>
      <br>

      <form action="/perfil-tutor" method="POST">
        <input type="hidden" name="_method" value="PUT">
        <div class="form-group">
          <div class="form-group py-3">        
            <input type="text" name="correo" placeholder="Correo" class="form-control w-50 m-auto">
          </div>
          <div class="form-group py-3">        
            <input type="text" name="telefono" placeholder="+5694545456" class="form-control w-50 m-auto">
          </div>
          <div class="form-group mb-3 py-3">        
            <input type="text" name="nombreMascota" placeholder="Nombre de tu mascota" class="form-control w-50 m-auto">
          </div>     
        </div>

        <select class="form-select mb-3 w-50 m-auto" aria-label="Default select example" >
          <option selected>Selecciona tipo de mascota</option>
          <option value="1">Domestico</option>
          <option value="2">Granja</option>
          <option value="3">Exótico</option>
        </select>

        <button class="btn btn-danger my-3 pt-2 w-50 m-auto">Siguiente</button><br>
        <a href="./reg-mascota">Registra tu mascota</a></p>
    
      </form>
    </div>
  </div>
</div>








